main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  padding-top: 50px; }

/*form_validation*/
#formValidate {
  width: 500px; }
  #formValidate .formItem {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-bottom: 15px;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center; }
    #formValidate .formItem .formItemName {
      -webkit-box-flex: 0;
      -ms-flex: 0 1 250px;
      flex: 0 1 250px;
      max-width: 250px;
      padding: 0 15px 0 0;
      text-align: right; }
      #formValidate .formItem .formItemName label {
        font-weight: bold;
        margin: 0; }
    #formValidate .formItem .formItemInput {
      -webkit-box-flex: 0;
      -ms-flex: 0 1 100%;
      flex: 0 1 100%;
      position: relative; }
  #formValidate input.error {
    border: 1px solid red;
    margin-bottom: 10px; }
  #formValidate label.error {
    padding-left: 6px;
    font-size: 14px;
    line-height: 14px;
    margin: 0;
    color: red;
    position: absolute;
    bottom: -9px; }
  #formValidate input::-webkit-input-placeholder {
    color: #ccc; }
  #formValidate input:-ms-input-placeholder {
    color: #ccc; }
  #formValidate input::-ms-input-placeholder {
    color: #ccc; }
  #formValidate input::placeholder {
    color: #ccc; }
  #formValidate select {
    background: url(data:image/svg+xml;base64,PHN2ZyBpZD0iTGF5ZXJfMSIgZGF0YS1uYW1lPSJMYXllciAxIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCA0Ljk1IDEwIj48ZGVmcz48c3R5bGU+LmNscy0xe2ZpbGw6I2ZmZjt9LmNscy0ye2ZpbGw6IzQ0NDt9PC9zdHlsZT48L2RlZnM+PHRpdGxlPmFycm93czwvdGl0bGU+PHJlY3QgY2xhc3M9ImNscy0xIiB3aWR0aD0iNC45NSIgaGVpZ2h0PSIxMCIvPjxwb2x5Z29uIGNsYXNzPSJjbHMtMiIgcG9pbnRzPSIxLjQxIDQuNjcgMi40OCAzLjE4IDMuNTQgNC42NyAxLjQxIDQuNjciLz48cG9seWdvbiBjbGFzcz0iY2xzLTIiIHBvaW50cz0iMy41NCA1LjMzIDIuNDggNi44MiAxLjQxIDUuMzMgMy41NCA1LjMzIi8+PC9zdmc+) no-repeat 97% 50%;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none; }
  #formValidate .custom-control-input:checked ~ .custom-control-label::before {
    color: #fff;
    border-color: #333;
    background-color: #333; }
  #formValidate label.custom-file-label {
    overflow: hidden; }
