body {
  -webkit-overflow-scrolling: touch; }

.modal {
  display: none;
  position: fixed;
  z-index: 200;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.5); }
  .modal .modalContent {
    position: relative;
    background-color: #fefefe;
    margin: 100px auto;
    padding: 20px;
    border: 1px solid #888;
    width: 85%;
    max-width: 600px;
    border-radius: 5px;
    -webkit-box-shadow: 0px 3px 20px 0px rgba(0, 0, 0, 0.3);
    box-shadow: 0px 3px 20px 0px rgba(0, 0, 0, 0.3);
    -webkit-animation: modalAnime 0.3s 1;
    animation: modalAnime 0.3s 1; }

@-webkit-keyframes modalAnime {
  0% {
    -webkit-transform: translateY(-100px);
    transform: translateY(-100px);
    opacity: 0; }
  100% {
    -webkit-transform: translateY(0px);
    transform: translateY(0px);
    opacity: 1; } }

@keyframes modalAnime {
  0% {
    -webkit-transform: translateY(-100px);
    transform: translateY(-100px);
    opacity: 0; }
  100% {
    -webkit-transform: translateY(0px);
    transform: translateY(0px);
    opacity: 1; } }
    .modal .modalContent .modalClose {
      color: #aaa;
      font-size: 28px;
      font-weight: bold;
      position: absolute;
      right: 10px;
      top: 0px;
      cursor: pointer;
      -webkit-transition: all 0.2s ease;
      -o-transition: all 0.2s ease;
      transition: all 0.2s ease; }
      .modal .modalContent .modalClose:hover {
        color: #333; }
