doctype html
html(lang='zh-Hant-TW')
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible' content='IE=edge')
    meta(name='viewport' content='width=device-width initial-scale=1 shrink-to-fit=no')
    //- meta(name='viewport' content='width=device-width initial-scale=1 shrink-to-fit=no maximum-scale=1 user-scalable=no')
    meta(name="format-detection" content="telephone=no")
    meta(name='description' content='form_validation')
    meta(name='keywords' content='form_validation')
    meta(name='author' content='Bohan Huang')
    //- link(href='img/ico.ico' rel='shortcut icon')
    title form_validation
    link(href='https://use.fontawesome.com/releases/v5.7.2/css/all.css' rel='stylesheet')
    link(href='plugins/bootstrap-4.2.1/css/bootstrap.min.css' rel='stylesheet')
    link(href='css/bootstrap-grid-24-min.css' rel='stylesheet')
    link(href='css/index.css' rel='stylesheet')
    | <!--[if lt IE 9]>
    |   <script src="https://cdn.bootcss.com/html5shiv/3.7.3/html5shiv.min.js"></script>
    |   <script src="https://cdn.bootcss.com/respond.js/1.4.2/respond.min.js"></script>
    | <![endif]-->

  body

    //- header
    header

    //- main
    main

      //- form
      form#formValidate(name="form" action="" method="post")
        .formItem
          .formItemName
            label.form-control-label(for='name') Name
          .formItemInput
            input#name.form-control(name="name" type="text" placeholder='請輸入姓名')
        .formItem
          .formItemName
            label(for='mobile') Phone
          .formItemInput
            input#mobile.form-control(name="mobile" type="tel" placeholder='請輸入手機號碼')
        .formItem
          .formItemName
            label(for='email') Email
          .formItemInput
            input#email.form-control(name="email" type="email" placeholder='請輸入Email')
        .formItem
          .formItemName
            label(for='select') Select
          .formItemInput
            select#select.form-control(name="select" type="select")
              option(value="select_A") select_A
              option(value="select_B") select_B
        .formItem
          .formItemName
            label(for='file') File
          .formItemInput
            .custom-file
              input#file.custom-file-input(name="file" type='file')
              label.custom-file-label(for='customFile') 選擇檔案
        .formItem
          .formItemName
            label(for='textarea') Textarea
          .formItemInput
            textarea#textarea.form-control(rows='2')
        .formItem
          .formItemName
            label(for='checkbox_A') Checkbox
          .formItemInput
            .custom-control.custom-checkbox.custom-control-inline
              input#checkbox_A.custom-control-input(name="checkbox" type='checkbox' value='checkbox_A' checked)
              label.custom-control-label(for='checkbox_A') checkbox_A
            .custom-control.custom-checkbox.custom-control-inline
              input#checkbox_B.custom-control-input(name="checkbox" type='checkbox' value='checkbox_B')
              label.custom-control-label(for='checkbox_B') checkbox_B
        .formItem
          .formItemName
            label(for='radio_A') Radios
          .formItemInput
            .custom-control.custom-radio.custom-control-inline
              input#radio_A.custom-control-input(name='radio' type='radio' value='radio_A' checked)
              label.custom-control-label(for='radio_A') radio_A
            .custom-control.custom-radio.custom-control-inline
              input#radio_B.custom-control-input(name='radio' type='radio' value='radio_B')
              label.custom-control-label(for='radio_B') radio_B

        //- bootstrap格式 -start-
        .form-group.row
          .col-8.text-Input.pr-3
            label.col-form-label.font-weight-bold(for='nameBs') Name
          .col-16
            input#nameBs.form-control(name="name" type="text" placeholder='請輸入姓名')
        //- bootstrap格式 -end-

    //- footer
    footer

    //script
    script(src='plugins/jquery-3.3.1/jquery-3.3.1.min.js')
    script(src='plugins/bootstrap-4.2.1/js/bootstrap.bundle.min.js')
    script(src="https://cdn.jsdelivr.net/npm/bs-custom-file-input/dist/bs-custom-file-input.min.js")
    script(src="plugins/jquery-validate-1.19.0/jquery.validate.min.js")
    script(src='js/index.js')
